*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(58, 58, 165);
    /* text-align: center; */
    background-image: url(image/WhatsApp\ Image\ 2025-03-02\ at\ 11.38.37.jpeg);
    object-fit: cover;

}
.main{
    position: relative;
    border: 5px solid black;
    padding: 20px;
    background-color: rgb(240, 106, 106);
    z-index: 0;
}
.word{
    text-align: center;
    margin: 10px;
    font-size: 20px;
}
#input{
    margin: 20px;
    width: 200px;
    height: 30px;
}
.hint{
    height: 90px;
    width: 200px;
    font-size: 20px;
    /* text-align: cente; */
}
h2{
    text-align:center;
}
.refresh{
    background-color:rgb(88, 64, 64) ;
    margin: 20px;
    display: inline-block;
    height: 30px;
    width: 100px;
    text-align: center;
}
.check{
    background-color: rgb(48, 48, 132);
    display: inline-block;
    height: 30px;
    width: 100px;
    text-align: center;
}
.main::after, .main::before{
    content:'';
    position: absolute;
    top:-3px;
    bottom: -3px;
    left: -3px;
    right: -3px;
    background: conic-gradient(from var(--angle),transparent,#d11149,#e68aff,#ff4800,#11ebff,#cdff58,#d11149);
    /* background-color: red; */
    display: block;
    z-index: -1;
}
.main::before{
    z-index: -2;
    filter: blur(20px);
    opacity: 0.7;
}
.main:hover::after{
    animation: glowing-border 3.5s linear  infinite ;
}
@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
@keyframes glowing-border 
{
    from
    {
        --angle:0deg;
    }
    to
    {
        --angle:360deg;
    }
    
}
.main:hover::before{
    animation: blur-effect 3.5s linear infinite, glowing-border 3.5s linear infinite;

}
@keyframes blur-effect 
{
    from{
        filter: blur(20px);
    }
    to{
        filter: blur(19px);
    }   
}
